In [1]:
import pandas as pd
import numpy as np

from sklearn import linear_model

In [3]:
df = pd.read_excel('homeprice.xlsx')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
import math
df = df.drop(5)

In [16]:
df.bedrooms.median()

3.5

In [17]:
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [24]:
df = df.fillna(median_bedrooms)

In [25]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [26]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [28]:
reg.intercept_

383724.9999999998

In [30]:
reg.predict([[3500, 3, 18]])

array([663175.])