# 1번 문제

In [ ]:
doc1 = 'A반은 마라탕을 좋아해.'
doc2 = 'A반은 마라탕을 더 이상 먹지않을거야. 그래도 마라탕을 좋아해.'

In [3]:
bowA = doc1.split()
bowB = doc2.split()

In [4]:
wordSet = set(bowA).union(set(bowB))

In [5]:
wordDictA = dict.fromkeys(wordSet, 0)
wordDictB = dict.fromkeys(wordSet, 0)

In [6]:
for word in bowA:
    wordDictA[word] += 1
for word in bowB:
    wordDictB[word] += 1

In [8]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   A반은  그래도  더  마라탕을  먹지않을거야.  이상  좋아해.
0    1    0  0     1        0   0     1
1    1    1  1     2        1   1     1

# 2번

In [ ]:
import re

re.sub(r'등록 : \w{4}-\w{2}-\w{2} \w{2}:\w{2}')
re.sub(r'(.*?)]')
re.sub(r'

# 3번(문제3.xlsx에서 계산함)

In [77]:
import pandas as pd

x = pd.read_excel('문제3.xlsx')
x

     ngram     총빈도  매파 빈도  비둘기파 빈도  polarity score   intensity    분류
0    금리;인상   10000   7000     3000        2.333333         0.4    매파
1    금리;인하   15000   3000    12000        0.250000        -0.6  비둘기파
2       인하  100000  40000    60000        0.666667        -0.2  비둘기파
3  통화정책;완화   20000   5000    15000        0.333333        -0.5  비둘기파

# 4번

In [69]:
sentence1 = ["금리/NNG;인상/NNG", '경제/NNG;예상/NNG;회복/NNG', '금리/NNG;인하/NNG']
sentence2 = ['통화정책/NNG;완화/NNG', '경제/NNG;예상/NNG;회복/NNG', '금리/NNG;인상/NNG']
sentence3 = ['금리/NNG;인하/NNG', '통화정책/NNG;완화/NNG', '재할인율/NNG;인상/NNG']
sentence4 = ['재할인율/NNG;인상/NNG', '금리/NNG;인상/NNG']

hawkDict = ['금리/NNG;인상/NNG', '재할인율/NNG;인상/NNG', '경제/NNG;예상/NNG;회복/NNG', '물가/NNG;불안/NNG;확산/NNG']
dovDict = ['금리/NNG;인하/NNG', '통화정책/NNG;완화/NNG', '인하/NNG;파급효과/NNG', '신용스프레드/NNG;부담/NNG']

tone_list=[]

df = pd.DataFrame(index = range(0,4), columns = ['tone'])
df

  tone
0  NaN
1  NaN
2  NaN
3  NaN

In [70]:
df['ngram목록'] = 0

# ngram목록 데이터프레임에 추가

In [71]:
df.iloc[0, 1] = str(sentence1)
df.iloc[1, 1] = str(sentence2)
df.iloc[2, 1] = str(sentence3)
df.iloc[3, 1] = str(sentence4)

In [72]:
df

  tone                                            ngram목록
0  NaN  ['금리/NNG;인상/NNG', '경제/NNG;예상/NNG;회복/NNG', '금리/...
1  NaN  ['통화정책/NNG;완화/NNG', '경제/NNG;예상/NNG;회복/NNG', '금...
2  NaN  ['금리/NNG;인하/NNG', '통화정책/NNG;완화/NNG', '재할인율/NNG...
3  NaN               ['재할인율/NNG;인상/NNG', '금리/NNG;인상/NNG']

# 전처리

In [73]:
df['ngram목록'] = df['ngram목록'].apply(lambda x : x.replace('[', '').replace(']','').replace("'", ''))
df

  tone                                            ngram목록
0  NaN  금리/NNG;인상/NNG, 경제/NNG;예상/NNG;회복/NNG, 금리/NNG;인하...
1  NaN  통화정책/NNG;완화/NNG, 경제/NNG;예상/NNG;회복/NNG, 금리/NNG;...
2  NaN    금리/NNG;인하/NNG, 통화정책/NNG;완화/NNG, 재할인율/NNG;인상/NNG
3  NaN                     재할인율/NNG;인상/NNG, 금리/NNG;인상/NNG

# tone 계산

In [74]:
for i in range(len(df)):
    ngrams = df.loc[i, 'ngram목록'].split(',')
    
    count_p = 0.0001
    count_n = 0.0001
    print(len(df))
    for ngram in ngrams:
    
        ngram.replace(' ','')
            
        if ngram in hawkDict:
            count_p += 1
        elif ngram in docDict:
            count_n += 1
    print(count_p, count_n)
    
    df.loc[i, 'tone'] = float(count_p - count_n) /float(count_p + count_n)

4
1.0001 0.0001
4
0.0001 1.0001
4
0.0001 1.0001
4
1.0001 0.0001

In [75]:
# tone < 0 == 매파
# tone > 0 == 비둘기파
df

     tone                                            ngram목록
0  0.9998  금리/NNG;인상/NNG, 경제/NNG;예상/NNG;회복/NNG, 금리/NNG;인하...
1 -0.9998  통화정책/NNG;완화/NNG, 경제/NNG;예상/NNG;회복/NNG, 금리/NNG;...
2 -0.9998    금리/NNG;인하/NNG, 통화정책/NNG;완화/NNG, 재할인율/NNG;인상/NNG
3  0.9998                     재할인율/NNG;인상/NNG, 금리/NNG;인상/NNG