In [ ]:
import pandas as pd

news = pd.read_csv('C:\\Users\\15Z970-GA5BK\Desktop\\multicamp_0719\\project\\2019_bigCont\\news_ngram_updown.csv')

In [ ]:
news_copy = news.copy()

In [ ]:
news_copy = news_copy.drop(['Unnamed: 0', 'title', 'url','news_media', 'text'], axis = 1)

In [ ]:
news_copy

In [ ]:
news_copy = news_copy['ngrams'].apply(lambda x: x.replace('[','').replace(']','').replace("'",''))
news_copy

In [ ]:
up_df = news[news['up_down'] == '상승']

In [ ]:
up_df['ngrams_split'] = up_df['ngrams'].apply(lambda x : x.split(','))

In [ ]:
up_df['ngrams_split'].value_counts()

In [ ]:
up_df['ngrams'].value_counts()

In [ ]:
list_ = []
for i in up_df['ngrams'][:500]:
    for count in range(len(i.split(','))):
        list_.append(i.split(',')[count])
    
list_

In [ ]:
up_data = pd.DataFrame()

In [ ]:
up_data['split_Word'] = 0

In [ ]:
up_data['split'] = list_

In [ ]:
up_data['split'] = up_data['split'].apply(lambda x: x.replace(']','').replace('[','').replace("'",''))
up_data.drop(up_data[up_data["split"] == "[]"], axis = 0)

In [ ]:
df = pd.DataFrame(up_data['split'].value_counts())

In [ ]:
df.drop('', axis= 0)

In [ ]:
df = df.drop('원화/NNG;강세/NNG')

In [ ]:
df

In [ ]:
df.drop(index = '투자/NNG;안정/NNG', inplace = True)

In [ ]:
df[df['split'] > 10]

In [ ]:
up_data[up_data["split"] == "[]"]

In [ ]:
up_data['split'].value_counts()

In [ ]:
for i in up_df['ngrams']:
    print(i)

In [3]:
import numpy as np
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [9]:
df = pd.concat([ser1, ser2], axis = 1)

In [11]:
df2 = pd.DataFrame({'col1' : ser1, 'col2' : ser2})

In [12]:
df2

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [13]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [15]:
ser.name = 'alphabets'

In [16]:
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [22]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     1
1     3
2     2
3     1
4     1
5     3
6     4
7     1
8     3
9     1
10    4
11    1
dtype: int32

In [23]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})

In [26]:
df2 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

In [27]:
df2.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [38]:
df2.loc[:, 'crim']

0       0.00632
1       0.02731
2       0.02729
3       0.03237
4       0.06905
5       0.02985
6       0.08829
7       0.14455
8       0.21124
9       0.17004
10      0.22489
11      0.11747
12      0.09378
13      0.62976
14      0.63796
15      0.62739
16      1.05393
17      0.78420
18      0.80271
19      0.72580
20      1.25179
21      0.85204
22      1.23247
23      0.98843
24      0.75026
25      0.84054
26      0.67191
27      0.95577
28      0.77299
29      1.00245
         ...
476     4.87141
477    15.02340
478    10.23300
479    14.33370
480     5.82401
481     5.70818
482     5.73116
483     2.81838
484     2.37857
485     3.67367
486     5.69175
487     4.83567
488     0.15086
489     0.18337
490     0.20746
491     0.10574
492     0.11132
493     0.17331
494     0.27957
495     0.17899
496     0.28960
497     0.26838
498     0.23912
499     0.17783
500     0.22438
501     0.06263
502     0.04527
503     0.06076
504     0.10959
505     0.04741
Name: crim, Length: 506, dtype: float64

In [31]:
df = pd.DataFrame({"A":[1,4,7], "B":[2,5,8], "C":[3,6,9]})
print(df)
print(df.iloc[0])
print(df.loc[0])

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
A    1
B    2
C    3
Name: 0, dtype: int64
2

In [39]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])
display(df)

# Define the new names of your columns
newcols = {
    'A': 'new_column_1', 
    'B': 'new_column_2', 
    'C': 'new_column_3'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)

# Rename your index
df.rename(index={1: 'a'})

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   new_column_1  new_column_2  new_column_3
0             1             2             3
a             4             5             6
2             7             8             9

In [43]:
df = pd.DataFrame(data=np.array([["Awful", "Poor", "OK"], ["OK", "Acceptable", "Perfect"], ["Poor", "Poor", "OK"]]), columns=['A', 'B', 'C'])
display(df)

display(df.replace("Awful", "Nice"))

# Replace the strings by numerical values (0-4)
display(df.replace(['Awful', 'Poor', 'OK', 'Acceptable', 'Perfect'], [0, 1, 2, 3, 4]))

replace(['상승', '하락', '0'], [1,0,-1]

       A           B        C
0  Awful        Poor       OK
1     OK  Acceptable  Perfect
2   Poor        Poor       OK

      A           B        C
0  Nice        Poor       OK
1    OK  Acceptable  Perfect
2  Poor        Poor       OK

   A  B  C
0  0  1  2
1  2  3  4
2  1  1  2

In [64]:
df = pd.DataFrame(data=np.array([[1, 2, "+6a"], [4, 5, "+3b"], [5, 5, "+2C"]]), columns=['A', 'B', 'result'])

# Check out your DataFrame
display(df)

   A  B result
0  1  2    +6a
1  4  5    +3b
2  5  5    +2C

In [55]:

# Delete unwanted parts from the strings in the `result` column
df['result'] = df['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

# Check out the result again
display(df)

   A  B result
0  1  2      6
1  4  5      3
2  5  5      2

In [58]:
df['result'][0].strip('+=')

'6a'

In [65]:
df['result'] = df['result'].map(lambda x : x.strip('+-aAbBcC'))
df

   A  B result
0  1  2      6
1  4  5      3
2  5  5      2