# Term frequency

In [ ]:
d1 = 'The cat sat on my face I hate a cat'
d2 = 'The dog sat on my bed I love a dog'

In [2]:
bowA = d1.split()
bowB = d2.split()

In [3]:
bowB

['The', 'dog', 'sat', 'on', 'my', 'bed', 'I', 'love', 'a', 'dog']

# union 은 list는 안되고 set만 됨

In [ ]:
wordSet = set(bowA).union(set(bowB))

In [26]:
type(wordSet)

set

In [7]:
wordDictA = dict.fromkeys(wordSet, 0)
wordDictB = dict.fromkeys(wordSet, 0)

In [8]:
wordDictA

{'my': 0,
 'sat': 0,
 'a': 0,
 'love': 0,
 'face': 0,
 'dog': 0,
 'hate': 0,
 'on': 0,
 'cat': 0,
 'The': 0,
 'I': 0,
 'bed': 0}

In [9]:
for word in bowA:
    wordDictA[word] += 1
for word in bowB:
    wordDictB[word] += 1

In [10]:
wordDictA

{'my': 1,
 'sat': 1,
 'a': 1,
 'love': 0,
 'face': 1,
 'dog': 0,
 'hate': 1,
 'on': 1,
 'cat': 2,
 'The': 1,
 'I': 1,
 'bed': 0}

In [11]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   I  The  a  bed  cat  dog  face  hate  love  my  on  sat
0  1    1  1    0    2    0     1     1     0   1   1    1
1  1    1  1    1    0    2     0     0     1   1   1    1

In [12]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [13]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [14]:
tfBowA

{'my': 0.1,
 'sat': 0.1,
 'a': 0.1,
 'love': 0.0,
 'face': 0.1,
 'dog': 0.0,
 'hate': 0.1,
 'on': 0.1,
 'cat': 0.2,
 'The': 0.1,
 'I': 0.1,
 'bed': 0.0}

In [15]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
                
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [16]:
idfs = computeIDF([wordDictA, wordDictB])

In [17]:
idfs

{'my': 0.0,
 'sat': 0.0,
 'a': 0.0,
 'love': 0.3010299956639812,
 'face': 0.3010299956639812,
 'dog': 0.3010299956639812,
 'hate': 0.3010299956639812,
 'on': 0.0,
 'cat': 0.3010299956639812,
 'The': 0.0,
 'I': 0.0,
 'bed': 0.3010299956639812}

In [20]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [21]:
tfidfBowA = computeTFIDF(tfBowA, idfs)

In [24]:
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [25]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

,I,The,a,bed,cat,dog,face,hate,love,my,on,sat
0,0.0,0.0,0.0,0.000000,0.060206,0.000000,0.030103,0.030103,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.030103,0.000000,0.060206,0.000000,0.000000,0.030103,0.0,0.0,0.0

# 두번째 방법

In [27]:
from math import log10

In [34]:
# document 내 토큰이 등장한 빈도수 계산
def f(t, d):
    return d.count(t)

# tf 계산
def tf(t, d):
    return 0.5 + 0.5*f(t,d)/max([f(w,d) for w in d])

# idf 계산
def idf(t, D):
    numerator = len(D)
    denominator = 1 + len([True for d in D if t in d])
    return log10(numerator/denominator)
# tf-idf 계산
def tfidf(t, d, D):
    #print(D)
    print(t)
    #print(d)
    print(tf(t,d))
    print(idf(t, D))
    print(tf(t,d) * idf(t, D))
    print('===')
    return tf(t,d) * idf(t,D)

def tokenizer(d):
    return d.split()

# tfidf 계산
def tfidfScorer(D):
    tokenized_D = [tokenizer(d) for d in D] # 문서 리스트 D. 문서 하나 d, tokenizer로 split
    print(tokenized_D) #2개의 split된 문서가 들어가 있음 [d1, d2]
    print(type(tokenized_D))
    result = []
    for d in tokenized_D:
        result.append([(t, tfidf(t,d,tokenized_D)) for t in d])
    return result

In [35]:
corpus = [d1, d2]

In [36]:
for i, doc in enumerate(tfidfScorer(corpus)):
    print('====document[%d]=====' % i)
    print(doc)

[['The', 'cat', 'sat', 'on', 'my', 'face', 'I', 'hate', 'a', 'cat'], ['The', 'dog', 'sat', 'on', 'my', 'bed', 'I', 'love', 'a', 'dog']]
<class 'list'>
The
0.75
-0.17609125905568127
-0.13206844429176096
===
cat
1.0
0.0
0.0
===
sat
0.75
-0.17609125905568127
-0.13206844429176096
===
on
0.75
-0.17609125905568127
-0.13206844429176096
===
my
0.75
-0.17609125905568127
-0.13206844429176096
===
face
0.75
0.0
0.0
===
I
0.75
-0.17609125905568127
-0.13206844429176096
===
hate
0.75
0.0
0.0
===
a
0.75
-0.17609125905568127
-0.13206844429176096
===
cat
1.0
0.0
0.0
===
The
0.75
-0.17609125905568127
-0.13206844429176096
===
dog
1.0
0.0
0.0
===
sat
0.75
-0.17609125905568127
-0.13206844429176096
===
on
0.75
-0.17609125905568127
-0.13206844429176096
===
my
0.75
-0.17609125905568127
-0.13206844429176096
===
bed
0.75
0.0
0.0
===
I
0.75
-0.17609125905568127
-0.13206844429176096
===
love
0.75
0.0
0.0
===
a
0.75
-0.17609125905568127
-0.13206844429176096
===
dog
1.0
0.0
0.0
===
====document[0]=====
[('The', -0.13206844429176096), ('cat', 0.0), ('sat', -0.13206844429176096), ('on', -0.13206844429176096), ('my', -0.13206844429176096), ('face', 0.0), ('I', -0.13206844429176096), ('hate', 0.0), ('a', -0.13206844429176096), ('cat', 0.0)]
====document[1]=====
[('The', -0.13206844429176096), ('dog', 0.0), ('sat', -0.13206844429176096), ('on', -0.13206844429176096), ('my', -0.13206844429176096), ('bed', 0.0), ('I', -0.13206844429176096), ('love', 0.0), ('a', -0.13206844429176096), ('dog', 0.0)]

# sklearn 사용하기

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict

document_ls = [d1, d2, d2]

In [40]:
vectorizer = TfidfVectorizer()


tfidf = vectorizer.fit_transform(document_ls)

word2id = defaultdict(lambda : 0)
for idx, feature in enumerate(vectorizer.get_feature_names()):
    word2id[feature] = idx

In [43]:
import pandas as pd
count_vect_df = pd.DataFrame(tfidf.todense(), columns = vectorizer.get_feature_names())
count_vect_df

,bed,cat,dog,face,hate,love,my,on,sat,the
0,0.000000,0.735448,0.000000,0.367724,0.367724,0.000000,0.217184,0.217184,0.217184,0.217184
1,0.344779,0.000000,0.689558,0.000000,0.000000,0.344779,0.267752,0.267752,0.267752,0.267752
2,0.344779,0.000000,0.689558,0.000000,0.000000,0.344779,0.267752,0.267752,0.267752,0.267752