In [12]:
%%writefile C:\myPyCode\my_first_module.py
    
def my_function():
    print('this is my first module.')

Overwriting C:\myPyCode\my_first_module.py

In [13]:
cd C:\myPyCode

C:\myPyCode

In [14]:

import my_first_module

my_first_module.my_function()

this is my first module.

In [15]:
import sys
sys.path

['C:\\Users\\15Z970-GA5BK\\Dropbox\\Multicamp19_05_27\\sourcetree\\DH practice',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\python37.zip',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\DLLs',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\lib',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3',
 '',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\15Z970-GA5BK\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\15Z970-GA5BK\\.ipython']

In [17]:
%%writefile C:\myPyCode\modules\my_area.py
# File name: my_area.py

PI = 3.14
def square_area(a): # 정사각형의 넓이 반환
    return a ** 2

def circle_area(r): # 원의 넓이 반환
    return PI * r ** 2

Writing C:\myPyCode\modules\my_area.py

In [20]:
sys.path.append('modules')

In [21]:
import my_area    # 모듈 불러오기

print('pi =', my_area.PI) # 모듈의 변수 이용
print('square area =', my_area.square_area(5)) # 모듈의 함수 이용      
print('circle area =', my_area.circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

In [23]:
%%writefile C:\myPyCode\modules\my_module_test3.py
# File name: my_module_test3.py

def func(a):
    print("입력 숫자:",a)

if __name__ == "__main__":
    print("모듈을 직접 실행")
    func(3)
    func(4)
else:
    print("모듈을 임포트해서 실행")

Writing C:\myPyCode\modules\my_module_test3.py

In [24]:
import my_module_test3

모듈을 임포트해서 실행

In [25]:
dir(my_area)

['PI',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'circle_area',
 'square_area']

In [27]:
mkdir C:\myPyCode\packages\image; C:\myPyCode\packages\image\io_file

하위 디렉터리 또는 파일 C:\myPyCode\packages\image이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: C:\myPyCode\packages\image.
하위 디렉터리 또는 파일 C:\myPyCode\packages\image\io_file이(가) 이미 있습니다.
다음 내용 진행 중 오류 발생: C:\myPyCode\packages\image\io_file.

In [28]:
%%writefile C:\myPyCode\packages\image\io_file\__init__.py

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [29]:
%%writefile C:\myPyCode\packages\image\io_file\__init__.py

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [31]:
%%writefile C:\myPyCode\packages\image\io_file\imgread.py
# File name: imgread.py
    
def pngread():
    print("pngread in imgread module")

def jpgread():
    print("jpgread in imgread module")

Overwriting C:\myPyCode\packages\image\io_file\imgread.py

In [32]:
!tree /F  c:\myPyCode\packages

폴더 PATH의 목록입니다.
볼륨 일련 번호는 CA98-0F02입니다.
C:\MYPYCODE\PACKAGES
└─image
    └─io_file
            imgread.py

In [35]:
import sys
sys.path.append('C:\myPyCode\packages')
import image.io_file.imgread # image 패키지 io_file 폴더의 imgread 모듈 임포트
    
image.io_file.imgread.pngread() # imgread 모듈 내의 pngread() 함수 호출
image.io_file.imgread.jpgread() # imgread 모듈 내의 jpgread() 함수 호출

pngread in imgread module
jpgread in imgread module

In [36]:
from image import io_file

In [58]:
import pandas as pd

data = {
    'class1' : [95, 92, 98, 100],
    'class2' : [91, 93, 97, 99]
}

df1 = pd.DataFrame(data)
df1

class3 = [80, 20, 65, 70]
class4 = [70, 20, 65, 80]


df = pd.DataFrame({
    'class3' : [80, 20, 65, 70]
})
df2 = df1.join(df)
df = pd.DataFrame({
    'class4' : [70, 20, 65, 80]
})
df2 = df2.join(df)
df2
df = pd.DataFrame({
    'class1' : [80],
    'class2' : [50],
    'class3' : [25]
})
df2.append(df)

C:\Users\15Z970-GA5BK\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

   class1  class2  class3  class4
0      95      91      80    70.0
1      92      93      20    20.0
2      98      97      65    65.0
3     100      99      70    80.0
0      80      50      25     NaN

In [60]:
df_A_B = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품A': [100, 150, 200, 130],
                       '제품B': [90, 110, 140, 170]})
df_A_B

  판매월  제품A  제품B
0  1월  100   90
1  2월  150  110
2  3월  200  140
3  4월  130  170

In [61]:
df_C_D = pd.DataFrame({'판매월': ['1월', '2월', '3월', '4월'],
                       '제품C': [112, 141, 203, 134],
                       '제품D': [90, 110, 140, 170]})
df_C_D

  판매월  제품C  제품D
0  1월  112   90
1  2월  141  110
2  3월  203  140
3  4월  134  170

In [62]:
df_A_B.merge(df_C_D)

  판매월  제품A  제품B  제품C  제품D
0  1월  100   90  112   90
1  2월  150  110  141  110
2  3월  200  140  203  140
3  4월  130  170  134  170

In [63]:

df_left = pd.DataFrame({'key':['A','B','C'], 'left': [1, 2, 3]})
df_left

  key  left
0   A     1
1   B     2
2   C     3

In [64]:
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4, 5, 6]})
df_right

  key  right
0   A      4
1   B      5
2   D      6

In [65]:
df_left.merge(df_right, how='left', on = 'key')

  key  left  right
0   A     1    4.0
1   B     2    5.0
2   C     3    NaN