#1. import , read
Pandas 패키지를 Import 하고 실습 데이터 파일(Ecommerce Purchases)을 read 하세요.
그 다음, Pandas Dataframe 형식으로 ecom 이라는 변수에 저장해보세요.

In [126]:
import pandas as pd

data = pd.read_csv('Ecommerce Purchases.csv')

In [127]:
df = pd.DataFrame(data)
df.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [112]:
df.tail(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

# .mean()¶
평균 구매 가격(Purchase Price) 확인하기

In [114]:
import numpy

df['Purchase Price'].mean()

50.34730200000025

In [115]:
max_price = df['Purchase Price'].max()
max_price

99.99

In [116]:
min_price = df['Purchase Price'].min()

In [117]:
import math
max_roundUP = math.ceil(max_price)
min_roundUP = math.ceil(min_price)

print(max_price , ' & ' , min_price)

99.99  &  0.0

In [118]:

total_eng = df[df['Language'] == 'en'].count()
total_eng['Language']

1098

In [119]:
total_card = df[(df['Language'] == 'en') & df['Credit Card']].count()
total_card['Credit Card']

546

In [120]:
total_lawyer = df[df['Job'] == 'Lawyer'].count()
total_lawyer['Job']

30

In [121]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [122]:
df['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

In [123]:
df['Job'].value_counts().tail(5)

Stage manager                  7
Actuary                        6
Editor, film/video             6
Investment analyst             5
Information systems manager    5
Name: Job, dtype: int64

In [148]:
count_90 = df[df['LOT'] == '90 WT']['Purchase Price']

count_90

KeyError: 'LOT'

In [150]:
df[df['Credit Card'] == 342945015358701]['Email']

9995    iscott@wade-garner.com
Name: Email, dtype: object

In [151]:
df['Email'][(df['Credit Card'] == 210033169205009)]

9996    mary85@hotmail.com
Name: Email, dtype: object

In [142]:
df['Email'][(df['Job'] == 'Lawyer')]

470       francisjohnson@peters-green.com
508                   karen24@hotmail.com
1275             robertrobertson@ford.biz
1569                 denise22@hotmail.com
1682              roblesallen@hotmail.com
2164               tinafranklin@gmail.com
2619            tyler64@burgess-sharp.com
2935             sydney61@yates-smith.com
3663              maryherrera@collier.com
3738             williamsontroy@yahoo.com
3966    jacksoncheryl@baird-armstrong.com
5053            alisonblackwell@lewis.com
5339          benitezbrittany@johnson.com
5452                    nwalker@yahoo.com
5562                   joshua94@yahoo.com
5974             johnsonlaura@hotmail.com
6131            kimberlyzavala@massey.net
6136                    julie99@yahoo.com
6220                     wclark@gmail.com
7368            charlottecampos@yahoo.com
7645                  crystal82@yahoo.com
8127                   efischer@yahoo.com
8220               vincentdylan@yahoo.com
8620                   daniel29@gmail.com
8683                 harperadam@yahoo.com
8801                kenneth03@hotmail.com
8860             francissmith@hotmail.com
9175                      ybarr@gmail.com
9659                 george28@johnson.com
9979                   qjohnson@yahoo.com
Name: Email, dtype: object

In [152]:
df[df[('Credit Card'] == 'American Express' & df['Purchase Price'] > 95)]

SyntaxError: invalid syntax (<ipython-input-152-3e38b8218361>, line 1)