In [22]:
s = [6, 3, 2]
for i in s:
    print(i)

6
3
2

In [9]:
a = [6, 1, 3, 5]

TypeError: 'list' object cannot be interpreted as an integer

# List

In [27]:
a= list(range(5))
a

[0, 1, 2, 3, 4]

In [28]:
b = a
b[0] = 5
a

[5, 1, 2, 3, 4]

# Copy

In [29]:
a= list(range(5))
a

[0, 1, 2, 3, 4]

In [30]:
b= a.copy()
b

[0, 1, 2, 3, 4]

In [31]:
b[0] = 5
b

[5, 1, 2, 3, 4]

In [37]:
print(a)
print(b)

[0, 1, 2, 3, 4]
[5, 1, 2, 3, 4]

In [44]:
DH = {'name' : 'donghoon',
    'age' : 27,
    'hobby' : 'coding'}

DH

{'name': 'donghoon', 'age': 27, 'hobby': 'coding'}

In [46]:
print(DH['name'])

donghoon

In [51]:
list(DH.keys())

['name', 'age', 'hobby']

# 집합 Set

In [52]:
s1 = set([1, 2, 3])
print(s1)

{1, 2, 3}

In [54]:
l1 = [1, 2, 3, 6, 3, 0, 6]
l2 = list(set(l1))
l2

[0, 1, 2, 3, 6]

# 집합 연산

In [63]:
s1 = {1, 2, 3}
s2 = {2, 4, 5}

In [64]:
#교집합
print(s1 & s2)
print(s1.intersection(s2))

{2}
{2}

In [67]:
#합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [68]:
#차집합
print(s1.difference(s2))
print(s1 - s2)

{1, 3}
{1, 3}

In [69]:
print(s2 - s1)

{4, 5}

# 제어문 if statement